@use "@material/elevation/mdc-elevation";
@use "materialize-css/dist/css/materialize.min.css";
@use "colors";
@use "multi_column";
@use "tooltips";

#main_app_bar {
  --mdc-theme-primary: var(--theme-secondary-2);
  --mdc-theme-on-primary: var(--theme-whitish);
}

#search {
  width: 90%;
  display: block;
  margin-top: 1rem;
}

body {
  background-color: var(--theme-background);
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
