<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDB KG</title>

    <!-- Load fonts for web components. -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="static/pdb-kg.css">
</head>
<body>

<mwc-top-app-bar-fixed id="main_app_bar">
    {% if show_back | default(false) %}
    <mwc-icon-button icon="arrow_back" slot="navigationIcon" id="back_button">
    </mwc-icon-button>
    {% endif %}
    <div slot="title">{% block title %}PDB Knowledge Graph{% endblock %}</div>

    <main>
        {% block main %}{% endblock %}
    </main>
</mwc-top-app-bar-fixed>

</body>

<script src="static/pdb-kg.js"></script>

</html>
